<main-layout>
    <div class="flex flex-column md:flex-row justify-content-center align-items-center p-4 gap-5 w-full">

        <div class="w-full md:w-6">
            <h2 class="mb-4 text-center md:text-left">Situação dos Candidatos</h2>
            <grafico-pizza-situacao></grafico-pizza-situacao>
        </div>

        <div class="w-full md:w-6">
            <h2 class="mb-4 text-center md:text-left">Escolaridade dos Candidatos</h2>
            <grafico-barra-escolaridade></grafico-barra-escolaridade>
        </div>

    </div>
</main-layout>